<section class="splash-container">
  <h1 class="ezpay">ezPay</h1>
  <div class="account-container">
    <button type="button" class="login">Log In</button>
    <button type="button" class="signup">Sign Up</button>
  </div>
</section>
